<div class="input-group input-group-sm">
  <span class="input-group-addon">Address</span>
  <input type="text" class='form-control' placeholder='Address...'>
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">Address</span>
  <input type="text" class='form-control' placeholder='Address...'>
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">City</span>
  <input type="text" class='form-control' placeholder='City...'>
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">State</span>
  <input type="text" class='form-control' placeholder='State...'>
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">Country</span>
  <input type="text" class='form-control' placeholder='Country...'>
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">Postal Code</span>
  <input type="text" class='form-control' placeholder='Postal Code...'>
</div>
