<div class="main container-fluid">
  <div class="row">
    <div id='sidebar' class="col-xs-6 col-sm-3 sidebar navmenu-default navmenu-fixed-left offcanvas">
        <ul class='nav nav-sidebar'>
          <li ui-sref='home.overview'>Overview</li>
          <li ui-sref='home.admin'>Admin</li>
          <li ui-sref='home.user'>Users</li>
          <li ui-sref="home.contact">Contacts</li>
          <li ui-sref="home.leadstatus">Lead Status</li>
        </ul>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top topNavBar">
      <div class="container col-sm-12">
        <div id='sidebar-button'>
          <a type="button" data-toggle='offcanvas' data-target='#sidebar' data-canvas='body'>☰</a>
        </div>
      </div>
    </nav>
    <!-- <label for="sidebarToggle" class='col-sm-1 toggle'>☰</label> -->
    <div class="page-content col-sm-12" ui-view></div>
  </div>
</div>
